@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Skranji&display=swap');

:root {
    --primary-color: #78c0e0;
    --secondary-color: #449DD1;
    --accent1-color: #3943B7;
    --accent2-color: #150578;
    --heading-font: 'Skranji', sans-serif;
    --paragraph-font: 'Roboto', serif;
    --nav-background-color: white;
    --nav-link-color: blue;
    --nav-hover-link-color: blue;
    --nav-hover-background-color: white;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    justify-content: center;
    align-items: center;
}

.adventure {
    text-align: center; 
}

.adventure-heading {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.adventure-images {
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    flex-wrap: wrap; 
}

.adventure-images img {
    width: 100%; 
    max-width: 200px; 
    margin: 10px; 
}



.hero {
    position: relative;
}

.image-text {
    background-color: rgba(255, 255, 255, .6);
    color: black;
    padding: 20px;
    margin-top: 200px;
}

.logo {
    grid-column: 1; 
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    border-radius: 8px;
    flex-direction: row;
    grid-column: 2; 
}

nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    margin: 0 20px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.history{
    margin: 0 !important;

}
p {
    font-family: var(--paragraph-font);
    color: black;
    text-indent: 50px;
    text-align: center;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.sociallinks a {
    text-decoration: none;
    color: var(--nav-link-color);
}

footer nav {
    border: none;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

article img {
    float: right;
    margin-top: 230px;
    margin-right: 10px;
    padding: 0 !important;
}

article p {
    margin-left: 100px;
    text-align: center;
}

h1 {
    position: absolute;
    width: 300px;
    margin-top: 100px;
    margin-left: 260px;
    padding-top: 10px;
    text-align: center;
}

article {
    position: absolute;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.sociallinks {
    display: flex;
    gap: 5px;
}

.sociallinks a img {
    width: 30px;
}