* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
    padding: 20px;
}
main img {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
h1 + img + p{
    margin-right: 130px;
    padding: 40px;
}
main {
    max-width: 600px;
}
aside {
    width: 20em;
    text-align: center;
}
aside h2 {
    position: relative;
    top: 10px;
    left: 40px;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 1em;
    border-top: .1em solid black;
    text-align: center;
}

/* Class selectors */
.box {
    margin: 1rem;
    border: 1px rgba(0, 0, 0, .2);
    padding: 1rem;
    background-color: beige;
    color: black;
}